@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');


//Body properties

$font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
$font-header: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
$font-size: 15px;
$font-color: #2c3e50;
$background: #fff;

//Theme Colors

$theme: #03B5A5;
$theme-lighten: lighten($theme, 10%);
$theme-darken: darken($theme, 10%);

$theme02: #FF5722; 
$theme02-lighten: lighten($theme02,10%);
$theme02-darken: darken($theme02,10%);

$theme03: #2196F3;
$theme03-lighten: lighten($theme03,10%);
$theme03-darken: darken($theme03,10%);

$theme04:#E91E63;
$theme04-lighten: lighten($theme04,10%);
$theme04-darken: darken($theme04,10%);

$theme05: #FFC107;
$theme05-lighten: lighten($theme05,10%);
$theme05-darken: darken($theme05,10%);

$light-theme: #eee;
$light-lighten: lighten($light-theme,10%);
$light-darken: darken($light-theme,10%);

$dark-theme: #111111;
$dark-lighten: lighten($dark-theme,10%);
$dark-darken: darken($dark-theme,10%);

$gray-theme: #666;
$gray-lighten: lighten($gray-theme,10%);
$gray-darken: darken($gray-theme,10%);

//Bootstrap Colors

$success-theme: #8BC34A;
$success-lighten: lighten($success-theme,10%);
$success-darken: darken($success-theme,10%);

$warning-theme: #FFEB3B;
$warning-lighten: lighten($warning-theme,10%);
$warning-darken: darken($warning-theme,10%);

$danger-theme: #f44336;
$danger-lighten: lighten($danger-theme,10%);
$danger-darken: darken($danger-theme,10%);

$info-theme: #2196F3;
$info-lighten: lighten($info-theme,10%);
$info-darken: darken($info-theme,10%);